/*css reset*/
*{
    margin:0;
    padding:0;
}
/* click karke vo us part pe pauch jae jese clients pe click 
kia from navigation bar to vo client section pe le jaega */
html{
    scroll-behavior: smooth;
}
/*css variables*/
:root{
    --navbar-height:59px;
}
/*navbar bar*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;

}
/* navbar bar logo image */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
}
/* navigation bar:stylig */
#navbar ul{
    display: flex;
}
#navbar ul li{
    color: white;
}

